<!DOCTYPE html>
<html ng-app='NarrowItDownApp'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Narrow It Down</title>
  </head>
  <body>
    <h1>Narrow It Down</h1>

    <!-- LIST #1 - unlimited items -->
    <div id="list" ng-controller='NarrowItDownController as list'>
      <input type="text" ng-model="list.itemName" placeholder="item name">
      <button ng-click="list.narrowList();">Narrow It Down For Me!</button>
      
        <menu-list
        items="list.items"
        title="{{list.title}}"
        on-remove="list.removeItem(index)"></menu-list>

    </div>

  </body>
</html>
